@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500&family=Oswald:wght@200;300;400&family=Staatliches&display=swap');

.font-head{
    font-family: 'Montserrat', sans-serif !important;
    /* font-family: 'Staatliches',cursive !important; */
    margin: 0.4rem;
}
.font-body{
    font-family: 'Oswald', sans-serif !important;
}

.modalclass{
    background: white;
    opacity: 1;
    width: 500px;
    padding: 2rem;
    position: absolute;
    margin: auto;
    border: 2px solid #e6e6e6;
    overflow: scroll;
    max-height: 100%;
    /* "#E66800" */
    /* color: white; */
}
.cardclass{
    /* background:#e6e6e6; */
}
.columnflex{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background:white;
}
.border{
    border: 0.5px solid #e6e6e6;
}
.columnflexx{
    display: flex;
    padding: 0.5rem;
    /* color: #336EF1; */
    /* rgb(65,83,175) */
    /* #4153af */
    /* color: rgb(255,255,255) */
}
.appbar{
    background:rgb(255,255,255);
}
.popeffect:hover{
    transform: translate(0, -5px);
    transition: 0.3s;
}
.fixedfab{
    position:absolute !important;
    right:50px;
    bottom:50px;
    /* color: #336EF1; */
}
.color-green{

}
.color-red{

}
.user-cards{
    width: 350px !important;
    min-height: 12rem !important;
}
.project-card{
    height: auto !important;
    display:"flex";
    flex-direction:"column";
}
.end{
    justify-self: flex-end !important;
    align-self: flex-end !important;
    position: relative;
    bottom: 0;
}
.member-chips{
    margin-top: 1.2rem;
    border: 0.1px solid #f5f5f5;
    border-radius: 10px;
    padding: 0.5rem;
}
.force-center{
    position: relative !important;
    margin: auto !important;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 22rem;
    
}
.toggleholder{
    margin-top: 1rem;
    justify-self: flex-end;
}
.user-icon:hover{
    height:31px;
    width: 31px;
    border: 3px solid grey;
    margin-left: 15px;
    
}
.right-popup{
    position: absolute !important;
    right:10;
    top: 100 ;
    justify-self: flex-end;
}
/* .contains{
    display:flex;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
}
.tabs{
    position: relative;
    margin: auto !important;
    align-self: center !important;
    width: 1000px !important;
    margin-left: 5rem;
}
.tab-div{
    width: 100% !important;
}
.one-tab{
    width: 50% !important;
} */